* {
    margin: 0;
    padding: 0;
}

body {
    transition: all 0.8s ease;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
.container {
    margin: 0;
}
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;

}

nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
div{
    margin: 20px;
}
.items{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ffffffaa;
    border-radius: 20px;
    cursor: pointer;
}
img{
    width: 300px;
   
    
}
p{
    margin: 10px 0;
}
footer{
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}